/* classes */

.wrapper {
    display: flex;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background: #434244;
    float: left;
    margin-right: 1em;
    display: flex;
    justify-content: center;
}

.divider {
    border-left: 2px solid #434244;
    margin-right: 2em;
    height: inherit;
}

.sub-wrapper {
    display: flex;
}

.sub-wrapper h2 {
    border-bottom: none;
    color: #636466 !important;
}

.sub-wrapper p {
    color: #808183;
}

.sub-wrapper-left{
    width: 30%;
}

.sub-wrapper-right {
    width: 70%;
}

.sub-wrapper-right h2 {
    text-transform: none;
}

.first-divider {
    margin-top: 120px;
}

.icon {
    width: 25px;
    height: 25px;
    filter: invert(1);
}

.line {
    padding-bottom: 2em;
    border-bottom: 2px solid #808183;
}

/* id */

#adress, #phone {
    border-bottom: 2px solid #e6e7e8;
}

#contact-informations {
    width: 50%;
}

#contact-informations p {
    line-height: 2.5em;
    padding-bottom: .5em;
    color: #76777A;
}

#languages {
    display: flex;
    justify-content: center;
}

#languages li {
    margin-right: 1em;
}

#left, #right {
    height: 100vh;
}

#left {
    position: fixed;
    width: 30%;
    background-color: #434244;
    padding: 5em 5em;
    display: flex;
    flex-direction: column;
}

#left a {
    color: inherit;
}

#left h2 {
    margin-top: 2em;
}

#left h2, #left p {
    color: #fff;
}

#left img {
    border-radius: 50%;
}

#name-and-title {
    width: 50%;
}

#right {
    width: 70%;
    margin-left: 30%;
    padding: 5em 5em;
    display: flex;
    flex-direction: column;
}

#skills, #hobbies {
    display: flex;
    justify-content: space-between;
}

/* selecteurs html */

body {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Expletus Sans', cursive;
    font-family: 'Open Sans', sans-serif;
}

footer {
    margin: 5em 0;
    text-align: center;
}

footer p {
    color: #434244;
}

h1 {
    width: 7em;
}

h1, h2, h3 {
    text-transform: uppercase;
}

h1, #right h2 {
    color: #434244;
}

h3 {
    color: #808183;
}

header {
    display: flex;
}

img {
    align-self: center;
}

li {
    text-transform: uppercase;
    font-weight: bold;
    list-style-type: none;
    color: #808183;
}

main h2 {
    margin-top: 5em;
    border-bottom: 2px solid #434244;
}


/* responsive */

@media (max-width: 1200px) {
    .divider {
        border-bottom: 2px solid #434244;
        width: inherit;
        margin-top: 2em;
    }

    .first-sub-wrapper {
        border-top: none !important;
    }

    .sub-wrapper {
        flex-direction: column;
        margin-top: 3em;
        border-top: 2px dashed #808183;;
    }

    .sub-wrapper-left{
        width: 100%;
    }
    
    .sub-wrapper-right {
        width: 100%;
    }

    #hobbies {
        flex-direction: column;
        text-align: center;
    }

    #left {
        padding: 3em 3em;
        width: 40%;
    }

    #right {
        width: 60%;
        margin-left: 40%;
    }

    main h2 {
        margin-top: 2em;
    }
}

@media (max-width: 900px) {
    #left a {
        width: 5em;
    }

    #skills {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 600px) {
    #languages {
        flex-direction: column;
        text-align: center;
    }
}

@media (max-width: 400px) {
    .circle {
        margin-left: 40%;
    }

    .wrapper {
        flex-direction: column;
    }

    #contact-informations {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #contact-informations p {
        text-align: center;
    }

    #hobbies, #skills, #languages {
        text-align: left;
    }

    #name-and-title {
        width: 100%;
    }

    #left {
        position: unset;
    }

    #left, #right {
        width: 100%;
    }

    #right {
        margin-left: 0;
    }

    h1 {
        width: 100%;
    }

    h1, h3 {
        text-align: center;
    }

    header {
        display: block;
    }

    ul {
        padding-left: 0;
    }
}
